{% extends 'base.html.twig' %}

{% block body %}

    <link href="/bundles/framework/css/t-y.css" rel="stylesheet">
<div class="wrapper">

    <div class="wrapper">
        <div class="pm-info">
            <h2>Спасибо за Ваш заказ!</h2>
            <div class="order-info">
                <ul>
                    <li>Model: {{ order.auto.brand }} </li>
                    <li>Model: {{ order.auto.model }} {{ order.auto.year }} </li>
                    <li>Color : {{ order.color.color }}</span></li>
                </ul>
            </div>
            <p>В ближайшее время с Вaми свяжется наш менеджер.</p>
            <div class="customer-info">
                <ul>
                    <li>{{ order.customer.name }}</li>
                    <li>{{ order.customer.phone }}</li>
                    <li>{{ order.customer.email }}</li>
                </ul>
            </div>
        </div>
    </div>


</div>

{% endblock %}
